<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new message!</p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @message.content %></p>
  </body>
</html>